.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(10px);
}

.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    fill: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-weight: bold;
    font-size: rem(27px);
    color: #000;
    margin-bottom: rem(10px);
}

.benefit__desc {
    font-size: rem(18px);
}