.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 3%;
}

.form__block {
    flex: 1;
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(15px) rem(11px);
    border-radius: rem(4px);
    border: solid rem(3px) transparent;

    @include tablets {
        padding: rem(10px) rem(11px);
    }

    &--textarea {
        height: rem(156px);
        resize: none;
        margin-bottom: rem(11px);

        @include tablets {
            height: rem(100px);
        }
    }

    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: 5%;

    @include tablets {
        display: flex;
        justify-content: center;
    }
}