.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(36px);
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.logo {
    fill: #fff;
    width: rem(57px);
    height: rem(57px);
    flex-shrink: 0;
}

.menu {
    margin: 17px 30px 0;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 14px 0 0;
}

.phone-number--theme--green {
    color: $darkGreen;

    @include phones {
        justify-content: center;
        margin: 0 0 10px;
    }
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
    fill: #fff;
}

.phone-number__icon-elem--theme--green {
    fill: $darkGreen;
}

.phone-number__text {
    white-space: nowrap;
}